body {
    background-color: black;
    font-family: HBIOS-SYS, monospace;
    font-size: 16px;
    line-height: 1.3;
    margin: 20px 0;
    padding: 20px;
    color: #aaa;
    transition: background-color 0.3s;
}

.dos {
    padding: 0 8px;
    margin: 0 auto;
    white-space: pre-line;
    overflow-y: auto;
    height: 85vh;
}

.blinking {
    animation: blink 1s step-end infinite;
}

.dos::-webkit-scrollbar {
    display: none;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

#log-container {
    position: fixed;
    top: 40px;
    right: 20px;
    width: 250px;
    max-height: 800px;
    overflow-y: auto;
    font-size: 16px;
    line-height: 1.3;
    text-align: right;
}


.cmd-button {
    display: inline-block;
    background-color: black;
    color: #aaa;
    border: 1px solid #aaa;
    padding: 10px 30px;
    margin: 0;
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
    text-align: center;
  }

  .cmd-button:hover {
    background-color: white;
    border: 1px solid black;
    color: black;
  }

.light-mode {
    background-color: white;
    color: black;
}


.multi-ellipsis {
    width: 800px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 6; 
    -webkit-box-orient: vertical;
}

.sprite-animation {
    width: 500px; /* 스프라이트 이미지의 개별 프레임 크기 */
    height: 417px;
    background-image: url('./keyframe.png'); /* 스프라이트 이미지 경로 */
    background-repeat: repeat;
    animation: play-sprite 1s steps(8) infinite; /* steps: 이미지 프레임 수 */
}

@keyframes play-sprite {
    from {
        background-position: 0 0; /* 첫 번째 프레임 */
    }
    to {
        background-position: -4000px 0; /* 마지막 프레임 */
    }
}

.description-m {
    width: 80%;
    margin: 20px auto;
  }


  @media (max-width: 580px) {
    body {
        background-color: red;
    }
}

.hidden {
    opacity: 0; /* 투명하게 만듦 */
    transition: opacity 1.5s ease-in-out; /* 부드러운 전환 효과 */
  }
  
  .visible {
    opacity: 1; /* 원래대로 보이게 */
    transition: opacity 0.2s ;
  }
  
#table {
    border : 2px solid;
}

.table th, .table td {
    border: 1px solid #ffffff; /* 테두리 색상 */
    padding: 10px; /* 내부 여백 */
    text-align: left; /* 텍스트 왼쪽 정렬 */
}

.table th {
    background-color: #444444; /* 헤더 배경 색상 */
}

.table tr:nth-child(even) {
    background-color: #333333; /* 짝수 행 배경 색상 */
}

.table tr:hover {
    background-color: #555555; /* 마우스 오버 시 배경 색상 */
}

#description-x {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 8px;
  }

